# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment / secrets
.env
.env.*
instance/

# Logs
logs/
*.log

# Database / SQL backup files
*.sql
*.db
*.sqlite
*.sqlite3

# Mac system files
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Testing / cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
